body {
  font-family: monospace;
  background-color: #252a31;
  color: #fff;
  padding: 5vh 5%;
  font-weight: bold;
}

.palabras-reservada {
  color: hsl(33, 72%, 63%);
}

.signo {
  color: hsl(270, 72%, 63%);
}

.variable {
  color: hsl(222, 72%, 63%);
}

.funcion {
  color: hsl(4, 72%, 63%);
}

.cadena-texto {
  color: hsl(140, 72%, 63%);
}

.comentario {
  color: hsl(0, 0%, 50%);
}

.parentesis {
  color: hsl(309, 72%, 63%);
}